@import url(./variables.css);
@import url(./font/clashGrotesk.css);

body {
    width: 100vw;
    font-family: 'ClashGrotesk-Regular';
}
.calculator {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--bg);
    color: #fff;
    border-radius: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--display);
    color: #333;
    width: 97.3%;
    height: 3rem;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
}

.operators > * {
    background-color: var(--operators);
}
.numbers > * {
    background-color: var(--numbers);
}
.equal {
    background-color: var(--equal);
}
#clear {
    background-color: var(--clear);
}
.operators > div,
.numbers > div,
.equal {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operators > div,
.numbers > div {
    width: 20%;
    height: 2rem;
}