@import url(./variables.css);
@import url(./font/clashGrotesk.css);

body {
    width: 100vw;
    font-family: 'ClashGrotesk-Regular';
}

.calculator {
    width: 30%;
    height: 90%;
    margin: 0 auto;
    background-color: var(--bg);
    color: #fff;
    border-radius: 1rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "display display display display"
    "add subtract multiply divide"
    "one two three equal"
    "four five six equal"
    "seven eight nine equal"
    "zero decimal clear equal";
}

.input {
    background-color: var(--display);
    color: #333;
    font-size: normal;
    border-radius: 1rem 1rem 0 0;
    grid-area: display;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
    font-size: 4rem;
}

.equal {
    background-color: var(--equal);
    grid-area: equal;
}
#add, 
#subtract,
#multiply,
#divide {
    background-color: var(--operators);
}
#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal {
    background-color: var(--numbers);
}


#clear {
    background-color: var(--clear);
    grid-area: clear;
}
#decimal {
    grid-area: decimal;
}
#zero {
    grid-area: zero;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#add {
    grid-area: add;
}
#subtract {
    grid-area: subtract;
}
#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}

#add, 
#subtract,
#multiply,
#divide,
#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal,
#clear,
.equal {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#add, 
#subtract,
#multiply,
#divide,
#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal {
    height: 5rem;
}