@import url(./variables.css);
@import url(./font/clashGrotesk.css);

body {
    width: 100vw;
    font-family: 'ClashGrotesk-Regular';
}
.calculator {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--bg);
    color: #fff;
}

.input {
    background-color: var(--display);
    color: #333;
    width: 100%;
    height: 50%;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
}

.operators > * {
    background-color: var(--operators);
}
.numbers > * {
    background-color: var(--numbers);
}
.equal {
    background-color: var(--equal);
}
#clear {
    background-color: var(--clear);
}